<span class="display-1">About Us</span>
<div class="py-3">

</div>
<div class="card-group">
	<div class="card">
		<img class="card-img-top rounded-circle" src="edith.jpeg" alt="Edith Thakkar">
		<div class="card-body">
			<h4 class="card-title">Edith Thakkar</h4>
			<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
				content. This content is a little bit longer.</p>
		</div>
	</div>
	<div class="card">
		<img class="card-img-top rounded-circle shadow-lg" src="gus.jpg" alt="Gus Liakos">
		<div class="card-body">
			<h4 class="card-title">Gus Liakos</h4>
			<blockquote class="card-text">A computer once beat me at a game of chess, but it was no match for me at kickboxing.<cite>Emo Phillips</cite></blockquote>
		</div>
	</div>
	<div class="card">
		<img class="card-img-top rounded-circle" src="jully.jpg" alt="Jullyane Hawkins">
		<div class="card-body">
			<h4 class="card-title">Jullyane Hawkins</h4>
			<p class="card-text">"Do or do not. There is no try" (Yoda)</p>
		</div>
	</div>
	<div class="card">
		<img class="card-img-top rounded-circle" src="michael.jpg" alt="Michael Figueroa">
		<div class="card-body">
			<h4 class="card-title">Michael Figueroa</h4>
			<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
		</div>
	</div>
</div>
