<span class="display-1">About Us</span>
<div class="py-3"></div>
<div class="card-group">
	<div class="card">
		<img class="card-img-top rounded-circle" src="edith.jpeg" alt="Edith Thakkar">
		<div class="card-body">
			<h4 class="card-title text-center">Edith Thakkar</h4>
			<blockquote class="card-text text-center">"An intellectual is someone whose mind watches itself."<cite> (Albert Camus)</cite></blockquote>
		</div>
	</div>
	<div class="card">
		<img class="card-img-top rounded-circle shadow-lg" src="gus.jpg" alt="Gus Liakos">
		<div class="card-body">
			<h4 class="card-title text-center">Gus Liakos</h4>
			<blockquote class="card-text text-center">"A computer once beat me at a game of chess, but it was no match for me at kickboxing."<cite> (Emo Phillips)</cite></blockquote>
		</div>
	</div>
	<div class="card">
		<img class="card-img-top rounded-circle" src="jully.jpg" alt="Jullyane Hawkins">
		<div class="card-body">
			<h4 class="card-title text-center">Jullyane Hawkins</h4>
			<p>Hi! I’m Jully and I’m from Brazil, but moved to United States in 2014. Because of my love for traveling, I got a degree in Hotel Management, but I always thought that web development is fascinating, especially the flexibility of it. That’s why I decided to change my career and become a fullstack web developer.</p>
			<p>Connect with me:</p>
			<ul>
				<li><a href="https://jullyanehawkins.com/"> www.jullyanehawkins.com</a></li>
				<li><a href="mailto:contact@jullyanehawkins.com"><i class="fas fa-at"></i> contact@jullyanehawkins.com</a></li>
				<li><a href="https://github.com/jullyanehawkins"><i class="fab fa-github"></i> @jullyanehawkins</a></li>
				<li><a href="https://www.linkedin.com/in/jullyanehawkins/"><i class="fab fa-linkedin-in"></i> @jullyanehawkins</a></li>
				<li><a href="https://twitter.com/jullyanehawkins"><i class="fab fa-twitter"></i> @jullyanehawkins</a></li>
			</ul>
			<br>
			<blockquote class="card-text text-center">"Do or do not. There is no try."<cite> (Yoda)</cite></blockquote>
		</div>
	</div>
	<div class="card">
		<img class="card-img-top rounded-circle" src="michael.jpg" alt="Michael Figueroa">
		<div class="card-body">
			<h4 class="card-title text-center">Michael Figueroa</h4>
			<blockquote class="card-text text-center">“The way I see it, every life is a pile of good things and bad things. The good things don’t always soften the bad things, but vice versa, the bad things don’t always spoil the good things and make them unimportant.”<cite> [The Doctor (Matt Smith), Doctor Who]</cite></blockquote>
		</div>
	</div>
</div>
