<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<base href="<%= process.env.BASE_HREF %>" />

		<title>ABQ Outside</title>
	</head>
	<body>
		<abq-outside>Loading&hellip;</abq-outside>
	</body>
</html>