<!--<div class="container-fluid p-2">-->
<!--<div class="row">-->
<!--<div class="card col-12 col-sm-8 col-md-6">-->
<!--<img class="card-img-top p-1" src="{{trail.trailImage}}" alt="Trail image caption">-->
<!--</div>-->
<!--<div class="col-md-6">-->
<!--<ul class="p-1 list-group list-group-flush">-->
<!--<li class="list-group-item">{{trail.trailName}}</li>-->
<!--<li class="list-group-item">{{trail.trailLocation}}</li>-->
<!--<li class="list-group-item">{{trail.trailRating}}-->
<!--<li class="list-group-item">{{trail.trailLength}}</li>-->
<!--<li class="list-group-item">{{trail.trailAscent}}</li>-->
<!--<li class="list-group-item">Description: {{trail.trailSummary}}</li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--<div class="comment-box list-group-flush">-->
<!--<div id="comment"></div>-->
<!--</div>-->
<!--</div>-->
<div class="container-fluid">
	<div class="row">
		<div class="order-1">
			<img class="mh-50 mw-50 p-1" src="{{trail.trailImage}}" alt="Trail image caption">
		</div>
		<div class="order-3">
			<dl class="dl-horizontal">
				<dt class="col-sm-3">{{trail.trailName}}</dt>
				<dd class="col-sm-9">{{trail.trailLocation}}</dd>

				<dt class="col-sm-3">Trail Rating: {{trail.trailRating}}</dt>

				<dt class="col-sm-3">Trail Length: {{trail.trailLength}}</dt>
				<dt class="col-sm-3">Trail Ascent: {{trail.trailAscent}}</dt>

				<dt class="col-sm-3">Description:</dt>
				<dd class="col-sm-9">{{trail.trailSummary}}</dd>
			</dl>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-2 col-md-3"></div>
	<div class="card col-12 col-sm-8 col-md-6">
		<br>
		<form id="commentCreator" name="commentCreator" [formGroup]="commentCreator" (ngSubmit)="createTrailComment()"
				novalidate>
			<textarea class="form-control" type="text" name="commentContent" id="commentContent"
						 placeholder="Your comment here!" formControlName="commentContent" rows="3"></textarea>
			<br>
			<button class="btn text-dark font-weight-bold rounded border bg-light text-center" type="submit">Submit
			</button>
		</form>
		<div class="col-12 col-lg-9">
			<div class="card-columns">
				<!-- begin comment item -->
				<div class="container-fluid"></div>
				<div *ngFor="let comment of comments" class="card">>
						<p class="card-text">{{ detailedComment.commentContent }}</p>
						<div class="small text-muted">{{ detailedComment.commentTimestamp | date:'M/d/yy h:mm a' }}
						</div>
					</div>
				</div>
			</div>
		</div>
</div>