<!--<div class="container-fluid p-2">-->
<!--<div class="row">-->
<!--<div class="card col-12 col-sm-8 col-md-6">-->
<!--<img class="card-img-top p-1" src="{{trail.trailImage}}" alt="Trail image caption">-->
<!--</div>-->
<!--<div class="col-md-6">-->
<!--<ul class="p-1 list-group list-group-flush">-->
<!--<li class="list-group-item">{{trail.trailName}}</li>-->
<!--<li class="list-group-item">{{trail.trailLocation}}</li>-->
<!--<li class="list-group-item">{{trail.trailRating}}-->
<!--<li class="list-group-item">{{trail.trailLength}}</li>-->
<!--<li class="list-group-item">{{trail.trailAscent}}</li>-->
<!--<li class="list-group-item">Description: {{trail.trailSummary}}</li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--<div class="comment-box list-group-flush">-->
<!--<div id="comment"></div>-->
<!--</div>-->
<!--</div>-->

<div class="container-fluid">
	<div class="row">
		<div class="order-1">
			<img class="mh-50 mw-50 p-1" src="{{trail.trailImage}}" alt="Trail image caption">
		</div>
		<div class="order-3">
			<dl class="dl-horizontal">
				<dt class="col-sm-3">{{trail.trailName}}</dt>
				<dd class="col-sm-9">{{trail.trailLocation}}</dd>

				<dt class="col-sm-3">Trail Rating</dt>
				<dd class="col-sm-9">{{trail.trailRating}}</dd>

				<dt class="col-sm-3">{{trail.trailLength}}</dt>
				<dd class="col-sm-9">{{trail.trailAscent}}</dd>

				<dt class="col-sm-3">Description:</dt>
				<dd class="col-sm-9">{{trail.trailSummary}}</dd>
			</dl>
		</div>
	</div>
</div>