<body>
	<h2 class="display-2">Trail Attributes</h2>
	<table class="table">
		<tr>
			<td>Trail Address</td>
		</tr>
		<tr>
			<td>Trail Ascent</td>
		</tr>
		<tr>
			<td>Trail Image</td>
		</tr>
		<tr>
			<td>Trail Lat</td>
		</tr>
		<tr>
			<td>Trail Length</td>
		</tr>
		<tr>
			<td>Trail Location</td>
		</tr>
		<tr>
			<td>Trail Long</td>
		</tr>
		<0tr>
			<td>Trail Rating</td>
		</0tr>
		<tr>
			<td>Trail Name</td>
		</tr>
		<tr>
			<td>Trail Summary</td>
		</tr>
	</table>

	<blob>
		<!--this is where the comments go-->
	</blob>
</body>

