@import url('https://fonts.googleapis.com/css?family=Oswald');

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
.modal-title,
span{
	font-family: 'Oswald', sans-serif;
}
.map{
	height: 60vw;
	border-top: 12px outset #28a745
}